@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.brand-name {
  overflow: visible;
  stroke: #fff;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}
