@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0; */
  /* --background-rgb: 255, 255, 255; */
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;


}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    /* --background-rgb: 0, 0, 0; */
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  }
}

::-moz-selection { /* Code for Firefox */
  background: rgb(var(--foreground-rgb));
  color: rgb(var(--background-rgb));
}

::selection {
  background: rgb(var(--foreground-rgb));
  color: rgb(var(--background-rgb));
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

html, body {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* .section { */
  /*   @apply sm:w-[500px] mx-auto mt-[40px]; */
  /* } */
  /**/
  /**/
  /* .section-large { */
  /*   @apply sm:w-[700px] mx-auto mt-[40px]; */
  /* } */

  .heading-color {
    color: #000;
  }

  .para {
    color: #434343;
  }

  .para-sm {
    @apply text-[0.875rem] leading-6
  }
}

@layer components {
  .section {
    @apply px-6 sm:px-0 sm:w-[500px] mx-auto pt-[40px];
  }


  .section-large {
    @apply sm:w-[700px] mx-auto pt-[40px];
  }
  .btn {
    @apply px-1.5 py-0.5 border rounded-md bg-zinc-50 text-zinc-600 text-xs font-normal;
  }

  .btn.dark {
    @apply bg-zinc-900 text-white border-zinc-900;
  }

  .link {
    @apply text-blue-500 hover:underline transition-all
  }
}

h1, h2, h3 {
  @apply pb-3;
}

h1{
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-semibold;
}

h3 {
  @apply text-xl font-bold
}

h4 {
  @apply text-base font-bold leading-3 text-zinc-700;
}

p {
  @apply text-zinc-600 leading-7;
}

small {
  @apply text-xs text-zinc-400;
}

@keyframes hideDiv {
  0% {
    background: rgba(255, 255, 255, 1);
    /* opacity: 0.5; */
    backdrop-filter: blur(20px);
    color: black;
  }

  70% {
    color: transparent;
  }

  100% {
    /* opacity: 0; */
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
    color: transparent;
  }
}

.hide-element {
  background: rgba(255, 255, 255, 1);
  animation: hideDiv 2.5s forwards;
  color: black;
  /* backdrop-filter: blur(20px); */
  animation-delay: 1s;
  pointer-events: none;
}

